div.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
}

.container h1 {
    margin-bottom: 50px; 
    text-align: center;
}

.container label {
    margin-right: 5px; 
}

.container input {
    margin-right: 5px;
}

.container ul {
    width: 500px;
    margin: 0 auto;
}

.container a.del {
    float: right;
}

.container form {
    margin: 20px auto;
    width: 500px;
}
